@import "tailwindcss";

@theme {
    --font-inter: var(--font-inter), sans-serif;
    --font-rubik: var(--font-rubik), sans-serif;

    /* this defition - using with 'bg-[--bg-hero]' */
    --color-hero: #081E32;  
    --color-about: #03111B;
    --color-project-card: #051019;
    --color-mobile-header: #040d14ff;

    /* Gradiant comes from about sections to other (by each section seperately) */
    /* gradient from 1 to another */
    --color-section-gradient-1: var(--color-about);
    --color-section-gradient-2: #0E1E2A;

    --color-hero-p: #9FC6FF;

    --color-neon-text:#E0F7FF;
    --color-neon-1: #B3FCFF;
    --color-neon-2: #6EE9FF;
    --color-neon-3: #06B6D4;

    /* --color-neon-glow: #C2F3FF; */
    --color-neon-glow: #C2F3FF;
    --color-neon-glow-2: #d1f6ff;
    --color-neon-glow-3: #d7eff5;
    --color-neon-glow-project:#94C8FF;
    --color-neon-inset: rgba(66,220,219,0.5);

    --color-neon-red: rgba(223, 81, 81, 1);

    --color-backgroundDark: '#121212';
    --color-darkBlue: "#1A2A4B"; 

    --breakpoint-xs: 480px;

    --grid-auto-fill-50: repeat(auto-fill, minmax(50px, 1fr));

    /* Animation Durations */
    --animate-duration-fast: 0.3s;
    --animate-duration-normal: 0.5s;
    --animate-duration-slow: 0.8s;
    --animate-duration-slower: 1s;
}


/* Keyframes */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Slide Animations */
@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up-close {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-down-close {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Blur Animations */
@keyframes blur-in {
    from {
        opacity: 0;
        filter: blur(10px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes blur-slide-up {
    from {
        opacity: 0;
        transform: translateY(30px);
        filter: blur(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

/* Exit aniamtions */

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-out-up {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}

@keyframes fade-out-down {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(30px);
    }
}



@keyframes gradient-shift {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}


@keyframes neon-blink {
    0%, 70% {
        box-shadow: inset 0px 0px 6px 1px var(--color-neon-inset);
        filter: drop-shadow(0 0 0px transparent);
    }
    95% {
        box-shadow: inset 0px 0px 9px 2px var(--color-neon-inset);
        filter: drop-shadow(0 0 1px var(--color-neon-2));
    }
    100% {
        box-shadow: inset 0px 0px 6px 1px var(--color-neon-inset);
        filter: drop-shadow(0 0 0px transparent);
    }
}

@utility animate-slide-up {
    /* animation: slide-up var(--animate-duration-normal) ease-out; */
    animation: slide-up var(--animate-duration-fast) ease-out;
}

@utility animate-slide-down {
    animation: slide-down var(--animate-duration-normal) ease-out;
}
